body{
    width: 60%;
    margin: auto;
    background-color: rgb(141, 156, 114);
    color: azure;
    font-family: monospace;
}
.top{
    font-size: 45px;
    color: rgba(252, 122, 178, 0.769);
    display: flex;
    justify-content: space-around;
    
}
.bottom{
    font-size: 45px;
    color: rgba(252, 122, 178, 0.769);
    display: flex;
    justify-content: space-around;
    justify-content: baseline;
}
.text{
    justify-content: center;
}
.ss{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.gif{
    display: flex;
    justify-content: center;
}
a{
    color: lightsteelblue;
    display: flex;
    justify-content: center;
}

a:hover{
    background-color: rgba(252, 122, 178, 0.769);
    color: rgb(217, 226, 238);

}
