
body{
    width: 60%;
    margin: auto;
    background-color: rgb(141, 156, 114);
    color: rgb(217, 226, 238);
    font-family: "Source Code Pro", monospace;
}

.container{
    padding-top: 100px;
    justify-content: center;
  
}
.img{
   padding: 50px;
}
.gridcontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding-top: 100px;

}

.banner{
    background-color: rgba(93, 0, 0, 0.89);
    margin: 0%;
    padding: 0px;
    width: 100%;
    display: flex;
}
.banner__content{
    text-align: center;
    margin: auto;
    padding: 0px;
    width: 100%;
}

.blink {
    font-size: 50px;
    color: lightsteelblue;
    animation: blinker 2s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

a{
    color: aliceblue;
}
a:hover{
    background-color: lightsteelblue;
    color:cadetblue;
}