
body{
    background-color: rgb(141, 156, 114);
    color: rgb(217, 226, 238);
    font-family: "Source Code Pro", monospace;
    margin: 0;
}

.container{
    padding-top: 25;
    width: 1000px;
    margin: auto;
  
}
.img{
   padding: 0px;
}

.gridcontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: rgba(252, 122, 178, 0.769);
    padding: 175px;

}

.banner{
    background-color: rgba(252, 122, 178, 0.769);
    margin: 0%;
    padding: 0px;
    width: 100%;
}
.banner__content{
    display: flex;
    justify-content: center;
    text-align: center;
}

.blink {
    font-size: 50px;
    color: lightsteelblue;
    animation: blinker 2s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

a{
    color: aliceblue;
}
a:hover{
    background-color: lightsteelblue;
    color:cadetblue;
}